<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>GET request</h1>
    <ul>
        <li>client=<%= client %></li>
        <li>path=<%= path %></li>
        <li>data
            <ul>
                <% for (const [key, value] of Object.entries(data)) { %>
                <li><%= key %>=<%= value %></li>
                <% } %>
            </ul>
        </li>
    </ul>
</body>
</html> 